*,
*::before,
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.upper_header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: white;
    margin-bottom: 2px;
    position: fixed;
    flex-direction: row;
}
.header_material {
    border-bottom: 3px solid black;
    height: 60%;
    width: 1800px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar a{
    margin-right: 45px;
    font-weight: bold;
    font-size: larger;
}
.header_icon {
    display: flex;
    margin-left: 400px;
    margin-right: auto;
}
.icon_content {
    font-size: 25px;
    font-weight: 500;
}
.header_icon img {
    width: 40px;
    height: 30px;
}
.search_bar {
    width: 150px;
    margin-left:-500px;
    margin-top: 20px;
    outline: auto;
}
.in_cart {
    margin-left: -345px;
    margin-top: 20px;
}
.header_img {
    width:1170px;
    height: auto;
}
.about_us {
    border-bottom: 4px solid black;
    height: 60%;
    width: 700px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: larger;
    margin-bottom: 20px;
}
.about_us_left {
    width: 300px;
    height: 350px;
}
.about_us_right {
    width: 200px;
    height: 200px;
    position: relative;
}
.product_images {
    display: flex;
    width: 200px;
    height: 250px;
}
.our_products {
    border-bottom: 4px solid black;
    height: 60%;
    width: 700px
}
.footer_img {
    color: white;;
}
footer {
    background-color: rgb(191, 118, 49);
    display: flex;
    flex-direction: row;
}